.controls-div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-bottom: 10px;
}

.speed_indicator {
  position: absolute;
  background-color: black;
  color: white;
  top: 0;
  z-index: 9999999;
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yt_plus_container {
  position: fixed;
  display: flex;
  font-size: larger;
  align-items: center;
  justify-content: center;
  background-color: #222;
  padding: 1rem;
  bottom: 10px;
  border-radius: 10px;
  z-index: 9999999;
  left: 50%;
  transform: translateX(-50%);
}

.ytp-ad-overlay-container, #player-ads {
  display: none !important;
}