.container {
    width: 280px;
    color: #314d3e;
    border-radius: 1rem;
  }
  
  .title {
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
  }

  .controls-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4em;
    height: 55rem;
    z-index: 2147483647;
  }